/* * Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap"); /* ! Global corrections */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Fira Sans", sans-serif !important;
  overflow-wrap: break-word !important;
}

body * {
  line-height: 150%;
}

/* Sub menus */
.menu-item-has-children > a i {
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .menu-item-has-children .sub-menu {
    display: none;
  }

  .menu-item:hover .sub-menu {
    display: block;
  }
}

/* @keyframes visibility {
  from {
    display: none;
  }
  to {
    display: block;
  }
} */

/* ! Section titles @home-page */
div.title h2 {
  font-weight: 900;
}

div#staxy__page p {
  font-weight: 300;
}

div.staxy__header_navigation ul,
footer ul {
  list-style: none;
  padding: 0px !important;
  margin: 0px !important;
}

div.staxy__header_navigation ul li ul.sub-menu {
  padding-left: 20px !important;
}

div.staxy__header_navigation ul li ul.sub-menu li a {
  font-size: 25px !important;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main navigation */
div.staxy__header_navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 12;

  width: 100%;

  background-color: var(--leaf-green);
}

div.staxy__header_navigation div.staxy__header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: calc(100% - 40px);

  margin: 0px auto;
}

.resize__logo {
  transition: 0.5s ease-in-out;
  max-width: 60px !important;
}

div.staxy__header_navigation div#menuTrigger {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.staxy__header_navigation div.staxy__header_content > a,
div.staxy__header_navigation div.menu__toggler {
  width: 50%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* * Navigation toggler | start */
div.staxy__header_navigation div.menu__toggler {
  max-width: 50px;
  cursor: pointer;
}

div.staxy__header_navigation div.menu__toggler div {
  width: 100%;
  height: 2.5px;
  background-color: var(--white-green);
  border-radius: 5px;
  position: relative;
}

div.staxy__header_navigation div.menu__toggler div::after {
  content: "";
  width: 100%;
  height: 2.5px;
  top: 10px;
  background-color: var(--white-green);
  border-radius: 5px;
  position: absolute;
}

div.staxy__header_navigation div.menu__toggler div::before {
  content: "";
  width: 100%;
  height: 2.5px;
  top: -10px;
  background-color: var(--white-green);
  border-radius: 5px;
  position: absolute;
}
/* * Navigation toggler | end */

/* * Navigation items | start */
div.staxy__navigation_items {
  width: 100%;
  height: 100vh;
  background-color: var(--leaf-green);
  padding-top: 2rem;

  position: absolute;
  top: 0px;
  left: 0px;

  display: none;
  justify-content: center;
  align-content: center;
  animation: fadeIn 0.5s;
}

div.staxy__navigation_items div.staxy__navigation_container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

div.staxy__navigation_items div.staxy__navigation_container ul {
  list-style-type: none;
  padding-left: 0px;
}

div.staxy__navigation_items div.staxy__navigation_container ul li {
  margin: 15px 0px;
}

div.staxy__navigation_items div.staxy__navigation_container div.staxy__menu {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;

  color: var(--white-green);
}

div.staxy__navigation_items
  div.staxy__navigation_container
  div.staxy__menu
  ul
  li {
  font-size: 35px;
}

div.staxy__navigation_items
  div.staxy__navigation_container
  div.staxy__menu
  ul
  li
  a {
  text-decoration: none;
  color: var(--white-green);

  border-bottom: 2px solid var(--white-green);
}

div.staxy__navigation_items div.staxy__navigation_container div.staxy__menu ul {
  padding: 30px;
}

div.staxy__navigation_items div.staxy__navigation_container div.staxy__menu p {
  margin-top: 0px;
}

div.staxy__navigation_items div.staxy__navigation_container div.menu__close {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 25px;
  color: var(--white-green);
  padding: 15px;
}

div.staxy__navigation_items
  div.staxy__navigation_container
  div.menu__close
  img {
  width: 40px;

  cursor: pointer;
}
/* * Navigation items | end */

/* Toggleable classes */
.visibility {
  display: flex !important;
}

.fade-in-background {
  background-color: var(--leaf-green);
  animation: backgroundFade 0.5s;
}

/* TODO Transitions */
/* * Opacity fade */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* * Background fade */
@-webkit-keyframes backgroundFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--leaf-green);
  }
}
@keyframes backgroundFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--leaf-green);
  }
}

@media only screen and (min-width: 1366px) {
  div.staxy__header_navigation div.staxy__header_content {
    max-width: 1312px;
  }
}

/* ! Footer */
footer {
  width: 100%;
  background-color: var(--leaf-green);
}

footer div.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div.mx__1280 div.staxy__child img,
.staxy__header_navigation img {
  filter: brightness(10);
  max-width: 120px;
}

footer div.mx__1280 {
  display: flex;
  flex-wrap: wrap;

  max-width: calc(100% - 40px);

  margin: 0 auto;
  padding: 20px;
}

/* * Powered by text */
footer div.mx__1280 div.staxy__child.full div.powered-by {
  color: var(--white-green);
  font-weight: 300;
  text-align: center;
}

footer div.mx__1280 div.staxy__child.full div.powered-by a {
  color: var(--dark-green);
}

footer div.mx__1280 div.staxy__child ul.footer-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  margin: 2rem 0px;
}

footer div.mx__1280 ul.footer-navigation-wrapper li.menu-item-has-children {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

footer
  div.mx__1280
  ul.footer-navigation-wrapper
  li.menu-item-has-children
  ul.sub-menu {
  padding: 10px 0px;
}

footer div.mx__1280 ul.footer-navigation-wrapper li.menu-item-has-children a {
  text-decoration: none;
  font-weight: 300;

  color: var(--white-green);
}

footer div.mx__1280 ul li.menu-item-has-children span {
  font-weight: bold;
  text-transform: uppercase;

  color: var(--dark-green);
}

footer div.mx__1280 div.address {
  text-align: center;
  color: var(--white-green);
}

footer div.mx__1280 div.address h2 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: bold;
}

footer div.mx__1280 div.physical__address,
footer div.mx__1280 div.virtual__address {
  margin-bottom: 0.5rem;
}

footer div.mx__1280 div.physical__address h4,
footer div.mx__1280 div.virtual__address h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

footer div.legal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0px;
}

footer a {
  text-decoration: none;
  color: var(--white-green);
  font-weight: bold;
}

footer p {
  color: var(--white-green);
  font-weight: 300;
}

/* * Tablet ( 600px > ) */
@media only screen and (min-width: 601px) {
  footer div.site-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer div.site-logo img {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
    object-position: top;
  }

  footer div.mx__1280 div.staxy__child ul.footer-navigation-wrapper {
    flex-direction: row;
    margin: 0px;
  }

  footer div.mx__1280 div.staxy__child ul.footer-navigation-wrapper li {
    flex: 0 1 33%;
  }
}

@media only screen and (min-width: 800px) {
  footer div.legal {
    padding: 2rem 0px;
    border-right: 2px solid #d9d9d9;
  }

  div.staxy__header_navigation img {
    width: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  div.staxy__header_navigation img {
    width: 120px;
  }
}

@media only screen and (min-width: 1366px) {
  footer div.mx__1280 {
    max-width: 1312px;
  }
}
